body
{
	overflow-x: hidden;
	background: rgb(236, 228, 241);
}

nav
{
	z-index:10;
	position: sticky;
	background: #201f28;
	width: auto;
	height: 60px;
	margin-bottom: 0px;
	margin: -8px;
	top: 0px;
}

.nav-flex
{
	margin: -8px;
	margin-bottom: 0px;
	list-style-type: none;
	display: flex;
	flex-direction: row;
	align-items: left;
	flex-wrap: nowrap;
}

header
{
	background-image: url(../img/header.png);
	height: 100px;
	margin: -8px;
	margin-top: -25px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	text-shadow: 1px 0 4px #201f28, 0 1px 4px #201f28, -1px 0 4px #201f28, 0 -1px 4px #201f28;
	padding-top: 30px;
	color: rgb(236, 228, 241);
}

button
{
	margin-left: 8px;
	background: #201f28;
	border: 0;
	color: rgb(173, 182, 235);
	height: 60px;
	text-align: center;
	font-size: 120%;
	font-family: cursive;
	position: relative;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	transition: all 0.5s;
	cursor: pointer;
}

button:hover 
{
	background: rgb(173, 182, 235);
	color: #201f28;
	opacity: 1;
	right: 0;
}

button.view
{
	background: rgb(236, 228, 241);
	color: #201f28;
}

button.view:hover
{
	background: rgb(236, 228, 241);
	color: rgb(173, 182, 235);
}

img
{
	width: 30px;
	height: 30px;
}

.logo
{
	margin-left: -28px;
	height: 60px;	
	width: 60px;
}

.wrapper
{
	height: 250px;
	max-width: 1400px;
	margin-left: 100px;
	margin-right: 100px;
}

footer
{
	background: #201f28;
	width: auto;
	height: 60px;
	margin: -8px;
	bottom: 3px;
	color: rgb(173, 182, 235);
}

.footer-img
{
	position: absolute;
	right: 5px;
	bottom: 13px;
}

ul
{
	height: 250px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	list-style-type: disc;
}

hr
{
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #201f28, rgba(0, 0, 0, 0));
}

.competentions
{
	background-image: url(../img/header2.png);
	height: 250px;
	margin: -8px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	text-shadow: 1px 0 4px #201f28, 0 1px 4px #201f28, -1px 0 4px #201f28, 0 -1px 4px #201f28;
	padding-top: 2px;
	color: rgb(236, 228, 241);
}

.comp-button
{
	border: 0px;
	border-radius: 12px;
	text-align: center;
	background-color: rgb(236, 228, 241);
	color:#201f28;
	transition: all 0.5s;
	cursor: pointer;
	height: 30px;
}

.comp-button:hover
{
	background: rgb(173, 182, 235);
	color: rgb(236, 228, 241);
	opacity: 1;
	right: 0;
}

.comp-list
{
	height: auto;
	display: flex;
	flex-direction: row;
	list-style-type: none;
}

.port-button
{
	margin-left: 590px;
	border: 0px;
	border-radius: 12px;
	text-align: center;
	background-color: #201f28;
	color:rgb(236, 228, 241);
	transition: all 0.5s;
	cursor: pointer;
	height: 30px;	
}

.port-button:hover
{
	background: #adb6eb;
	color: #ece4f1;
	opacity: 1;
	right: 0;
}

.about-me-img
{
	position: absolute;
	right: 0px;
	top: 30px;
	width: 200px;
	height: 200px;
}

.about-me-img.two
{
	left: 0px;
}

table 
{
	margin-top: 40px;
	border-collapse: collapse;
	color: #201f28;
	border: 2px solid #201f28;
	width: 100%;
}

th
{
	color: rgb(173, 182, 235);
	background: #201f28;
	padding: 10px;
	text-align: left;
}

td 
{
	padding: 10px;
	border: 2px solid rgb(173, 182, 235);
}

td:first-child
{
	width: 130px;
}

td:last-child
{
	width: 500px;
}

tr:nth-child(odd) 
{
	background: rgb(173, 182, 235);
}

tr:nth-child(even) 
{
	background: #ece4f1;
}

.img-portf
{
	width: 80px;
	height: 80px;
}

.table-comp
{
	margin-top: 0px;
	border-collapse: collapse;
	color: rgb(173, 182, 235);
	border: none;
	width: 100%;
}

.th-comp
{
	color: rgb(173, 182, 235);
	background: none;
	padding: 10px;
	text-align: center;
}

.td-comp
{
	padding: 0px;
	border: none;
}

.td-comp:nth-child(odd) 
{
	width: 20%;
}

.td-comp:nth-child(even) 
{
	width: 20%;
}

.th-comp:nth-child(odd) 
{
	background: none;
}

.th-comp:nth-child(even) 
{
	background: none;
}

form
{
	margin-left: 300px;
	margin-right: 300px;
	padding: 10px;
	border: 2px solid #201f28;
	border-radius: 12px;
	background: rgb(173, 182, 235);
}

.table-con
{
	margin-top: 0px;
	border-collapse: separate;
	border-spacing: 30px;
	color: rgb(173, 182, 235);
	border: none;
	width: 100%;
}

.td-con
{
	text-align: center;
	padding: 10px;
	border: 2px solid #201f28;
	border-radius: 12px;
	background: #201f28
}

.td-con:nth-child(odd) 
{
	width: 33%;
}

.td-con:nth-child(even) 
{
	width: 33%;
}